[run]
source =
    battleship
    Blackjack
    Generala
    poker
    truco

omit =
    env/*
    */test*

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite
